<h1>Dashboard</h1>
<div *ngIf="isLoggedIn$ | async; else RegisterTemplate">
  <h2>USER$</h2>
  <h1>{{ (user$ | async)?.user_metadata?.full_name }}</h1>
  <mat-list>
    <mat-list-item>
      <span matListItemTitle>Token (internal use):</span>
      <span matListItemLine>
        <!--{{ user$.value?.token?.access_token }}-->
        {{ getShortToken((user$ | async)?.token?.access_token) }}
      </span>
    </mat-list-item>
    <mat-list-item
      ><span matListItemTitle>Email:</span>
      <span matListItemLine>
        {{ (user$ | async)?.email }}
      </span></mat-list-item
    >
    <mat-list-item
      ><span matListItemTitle>ID (internal use):</span>
      <span matListItemLine>
        {{ (user$ | async)?.id }}
      </span></mat-list-item
    >
  </mat-list>
  <button mat-raised-button color="primary" (click)="logout()">LOGOUT</button>
</div>

<ng-template #RegisterTemplate>
  <h2>Please REGISTER / LOG IN</h2>
</ng-template>
<br />
<button (click)="refresh()" color="accent" mat-raised-button>Refresh</button>

<div class="mt-4">
  <h2>IsLoggedIn$</h2>
  <div *ngIf="isLoggedIn$ | async">LOGGED IN</div>
  <div *ngIf="!(isLoggedIn$ | async)">LOGGED OUT</div>

  <button mat-raised-button color="primary" (click)="login()">LOGIN</button>
</div>
